<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%= content %>
    
<div id="content">
    <div class="panel">
        <div class="header">
            
              <% [['all', '全部'], ['good', '精华']].forEach(function (pair) {
                var value = pair[0];
                var text = pair[1]; %>
                <a href="<%= value ? '/?tab=' + value : '/' %>"><%= text %></a>
              <% }) %>
        </div>
    </div>
</div>
</body>
</html>