<div id="sidebar">
    <div class="pabel">
        <span>personal info</span>
    </div>
</div>


<div id="content">
    <div class="panel">
        <div class="header">
            <%=
                [['all','全部'],['good','精华']].forEach（function(pair){
                    var value = pair[0];
                    var text  = pair[1]
                    <a href="<%= value? '/?tab=' + value : '/' %>" 
                        class="<%= value === tab? 'current-tab' : '' %>"><%=  text %></a>

                })
            %>
        </div>
    </div>
</div>